/api/python/src/cellxgene_ontology_guide/_version.py
/api/python/src/cellxgene_ontology_guide.egg-info/
/api/python/LICENSE
/api/python/src/cellxgene_ontology_guide/data/
/api/python/dist/
.coverage*
/htmlcov/
/api/python/docs/

# Compiled python files
__pycache__/
*.py[cod]
/.vscode
**/__pycache__/

*.owl
*.sssom.tsv
